html {
    box-sizing:border-box;
}
*, *:before, *:after {
    box-sizing:inherit;
}
img {
    max-width: 100%;
}
body {
padding: 20px;
font-family: Diazo MVB Rough1 Ex Cond;
font-size: 22px;
line-height: 24px;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
}
.title {
  width: auto;
  display: flex;
  flex-direction: column;
}
.asset-2 {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  margin-right: 50px;
}
.intro {
  font-size: 12px;

}
hr {
  background-color: brown;
  padding: 4px;
  width: 80%;
}
h1 {
  text-overflow: inherit;
  font-size: 80px;
  line-height: 80px;
    color: brown;
}
h2 {
  font-weight: 500;
}
h3, h4, h6 {
font-family: Poppins;
font-weight: 500;
font-size: 12px;
line-height: 18px;
}
h3 {
  color: gray;
}
p {
  font-family: Poppins;
  font-weight: 600;
  line-height: 24px;
}
strong {
  font-family: Poppins;
  color: brown;
}

ul, ol {
  font-family: Diazo MVB Rough1 Ex Cond;
  font-size: 35px;
  color: brown;
  line-height: 33px;
}
li {
  font-family: Poppins;
  font-weight: bold;
  color: black;
  font-size: 22px;
  line-height: 40px;
}
a {
  font-family: Diazo MVB Rough1 Ex Cond;
  color: Brown;
  text-decoration: none;
}
a:visited {
  color: Brown;
}
a:hover {
  color: gray;
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
 .container {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.title {
  display: flex;
  flex-direction: row;
  margin: 20px;
  grid-row: 1;
  grid-column: 1;
  grid-column-end: 3;
}
.intro {
  padding: 20px;
  background-color: brown;
  color: white;
  grid-column-start: 2;
  grid-row: 3;
  grid-column-end: 2;
}
.Ingredients {
  grid-row-start: 3;
  grid-column-start: 1;
}
.Direction {
  grid-row-start: 5;
  grid-column-start: 1;
  grid-column-end: 3;
}
hr {
  grid-column-start: 1;
  grid-column-end: 3;
}
.end {
  display: flex;
  flex: row;
  grid-row: 7;
  grid-column-start: 1;
  grid-column-end: 3;
}
}
@media only screen and (min-width 1000px) {
 .container {
   grid-template-columns: 500px 500px;
   grid-template-rows: auto;
 }
 .title {
   display: flex;
   flex-direction: row;
 }
 .intro {
   padding: 20px;
   background-color: brown;
   color: white;
   grid-column-start: 2;
   grid-row: 3;
   grid-column-end: 2;
 }
}
